{% extends 'admin_templates/base_template.html' %}

{% block page_title %}
    Add College
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add College</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'add_college_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>College Name </label>
                                <input type="text" class="form-control" name="college" id="college" placeholder="Enter College">
                                <h5 id="firstcheck" style="color: red;" >
                                    **First name is missing
                                </h5>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Add College</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}
   {% block custom_js %}
    <script>
// Document is ready
                $(document).ready(function () {

                // Validate First Name
                    let firstnameError = true;
                    $('#firstcheck').hide();
                    $('#college').keyup(function () {
                        validateFirstname();
                    });
                function validateFirstname() {
                            let firstname = $('#college').val();
                              var expr = /^[a-zA-Z ]{2,40}$/;
                            if (firstname.length == '') {
                               $('#firstcheck').show();
                                firstnameError = false;
                                return false;
                                }
                           else if (!expr.test(firstname)) {
                                $('#firstcheck').show()
                                $('#firstcheck').html
                                ("**Only Alphabets is allowed");
                                firstnameError = false;
                                return false;
                                }
                            else {
                                $('#firstcheck').hide();
                             }
                            }


                // Submit button
                    $('#submitbtn').click(function () {
                        validateFirstname();
                        if (firstnameError == true)
                           {
                            return true;
                        } else {
                            return false;
                        }
                    });
                });

   </script>

  {% endblock custom_js %}